<%
  const primary = '#2ecc71';
  const headerHeight = 75;
  const smMin = 768;
  const xsMax = smMin - 1;
  const xsMin = 375;
  const animationDuration = '0.33s';
  const animationEasing = 'cubic-bezier(0.33, -0.69, .25, 1)';
%>

<!doctype html>
<html lang="bg">
  <head>
    <meta charset="utf-8">
    <title>Гората</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">
    <meta name="theme-color" content="<%= primary %>">

    <base href="/">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">

    <!-- Necessary for correct animation and sizing -->
    <style>
      body {
        background: <%= primary %>;
        display: grid;
        grid-template-rows: <%= headerHeight %>px auto;
        grid-template-columns: <%= xsMin %>px auto;
      }

      #header {
        grid-row: 1;
        grid-column: 1/3;
      }

      #content {
        grid-row: 2;
        grid-column: 1;
      }

      #map {
        grid-row: 2;
        grid-column: 2;

        opacity: 0;
        transition: opacity <%= animationDuration %> <%= animationEasing %>;
        min-height: <%= xsMin - headerHeight %>px;
      }

      #map.loaded {
        opacity: 1;
      }

      @media (max-width: <%= xsMax %>px) {
        #content, #map {
          grid-column: 1/3;
        }
      }
    </style>
  </head>

  <body>
    <header id="header" class="pa-md flex-row justify-content-end align-items-center"></header>
    <div id="content"></div>
    <div id="map"></div>

    <noscript><h2>JavaScript не е наличен в браузъра Ви. За да използвате това приложение, моля разрешете JavaScript или използвайте браузър, който го поддържа.</h2></noscript>

    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">
  </body>
</html>
